@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";

/* Set glocal background */
html {
  background-color: var(--background-color);
}

/* Global defaults */
:root {
  --background-color: #f3f4f6;

  /* Used for ...card background */
  --bulma-scheme-main: rgb(255, 255, 255);
  
  /* text color */
  --bulma-body-color: rgb(107, 107, 107);
}


/* Typography */
body {
  font-family: "Raleway";
}

h1 {
  font-size: 110%;
  font-weight: 500;
}

.page-heading {
  padding-top: 2rem;
  padding-left: 1rem;
}


/* Navbar */
.navbar {
  min-height: 5rem;
  border-bottom: 1px solid rgb(255, 255, 255);
}

.navbar-item {
  color: var(--bulma-body-color)
}

/* Input bars */
.input {
  background-color: var(--bulma-scheme-main);
  border-color: var(--bulma-scheme-main);
}

/* Layout */
.container.is-max-tablet {
  padding: 5px;
}

.card {
  transition: .3s ease, transform .3s ease
}

.card:hover {
  transform: scale(1.01);
}