@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";

/* Set global background */
html {
  background-color: var(--background-color);
}

/* Global defaults */
:root {
  --background-color: #e3e7ee;

  /* Used for ...card background */
  --bulma-scheme-main: rgb(255, 255, 255);
  
  /* text color */
  --bulma-body-color: #6b6b6b;
  --bulma-label-color: #6b6b6b; 

  /* border on card */
  --bulma-border-weak: none;
}


/* Typography */
body {
  font-family: "Raleway";
}

h1 {
  font-size: 110%;
  font-weight: 500;
}

.page-heading {
  padding-top: 2rem;
}


/* Navbar */
.navbar {
  background-color: var(--background-color);
  min-height: 5rem;
  border-bottom: 1px solid var(--bulma-scheme-main);
}

.navbar-item {
  color: var(--bulma-body-color)
}

/* Forms */
#form-input {
  margin-top: 30px;
}

.input {
  background-color: var(--bulma-scheme-main);
  border-color: var(--bulma-scheme-main);
  color: var(--bulma-label-color);
}

.input::placeholder {
  color: rgb(185, 185, 185);
}

.label {
  font-weight: var(--bulma-weight-normal);
}

/* Layout */
.container.is-max-tablet {
  padding: 5px;
}

.card {
  transition: .3s ease, transform .3s ease;
  margin-top: 10px;
}

.card:hover {
  transform: scale(1.01);
}

/* ClassDetail */
#class-detail {
  background-color: #ffffff;
}

/* User login */
#user-login {
  background-color: #e3e7ee;
  padding: 30px 60px;
  border: 1px solid var(--bulma-scheme-main);
  margin-top: 70px;
  max-width: 600px;
}

#user-login:hover {
  transform: none;
}

/* Instructor Options */
.instructor-options {
  background-color: rgb(255, 255, 255);
  margin: 5px;
  height: 180px;
}

.instructor-search {
  background-color: var(--background-color);
}

/* Customer */
.customer-label {
  background-color: transparent;
  box-shadow: none;
  color: var(--bulma-body-color);
}

.customer-label:hover {
  transform: none;
}

.customer-title-card:hover {
  transform: none;
}


/* Select box in forms */
.input, .select select, .textarea {
  background-color: white;
  color: var(--bulma-link);
}